<%- layout("./layouts/head.ejs") -%>

<div class="form-container">
  <form
    class="new-form"
    action="/listings/<%=existing_listing.id%>?_method=PUT"
    method="post"
    id="listingFrom"
  >
    <div class="new-form-inner">
      <h1>Create New Listings</h1>
      <label for="listing[title]">Title</label>
      <input
        name="listing[title]"
        value="<%=existing_listing.title%>"
        placeholder="Give title to your property"
      />
      <p class="form-error-msg">Title is required</p>
      <br />
      <label for="lisitng[Description]">Describe your property</label>
      <textarea name="listing[description]" placeholder="Decription" rows="4">
<%=existing_listing.description%></textarea
      >
      <p class="form-error-msg">Description is required</p>
      <br />
      <label for="lisitng[image]">Image</label>
      <input
        name="listing[image]"
        placeholder="Enter Image url"
        value="<%=existing_listing.image%>"
      />
      <p class="form-error-msg">URL is required</p>
      <br />
      <div class="price-contry">
        <div>
          <div>
            <label for="listing[price]">Price</label>
          </div>
          <div>
            <label>Country</label>
          </div>
        </div>
        <div>
          <div>
            <input
              name="listing[price]"
              placeholder="Price"
              value="<%=existing_listing.price%>"
            />
            <p class="form-error-msg">Price is required</p>
          </div>
          <div>
            <input
              name="listing[country]"
              value="<%=existing_listing.country%>"
              placeholder="e.g India"
            />
            <p class="form-error-msg">Country is required</p>
          </div>
        </div>
      </div>
      <br />
      <label>Location</label>
      <input
        type="text"
        name="listing[location]"
        placeholder="eg. Belapur Navi Mumbai"
        value="<%=existing_listing.location%>"
      />
      <p class="form-error-msg">Location is required</p>
      <br />

      <input type="submit" value="Save" />
    </div>
  </form>
</div>
<script src="/Js/formvalidate.js"></script>
