<%- layout("./layouts/head.ejs") -%>
<body>
  <h1>All Listings</h1>
  <div class="listing-container">
    <% for(listing of allLisitings) {%>
    <a href="listings/<%=listing._id%>">
      <div class="listCard">
        <div class="list-img">
          <img src="<%=listing.image%>" alt="" srcset="" />
        </div>
        <div class="list-details">
          <h3><%=listing.title%></h3>
        </div>
        <div class="list-desc">
          <span>&#8377;<%=listing.price.toLocaleString("en-IN")%></span>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
